<div class="container">
  <div class="row">
    <div class="form_bg">
      <form #form="ngForm" (ngSubmit)="registerUser(form)">
        <h2 class="text-center">AGGIUNGI PRODOTTI</h2>
        <br/>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nome Prodotto" name="nameitems" required ngModel>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"  placeholder="Categoria" name="Categoria" required ngModel>
        </div>

        <div class="form-group">
        </div>
        <br/>
        <div class="align-center">
          <button type="submit" class="btn btn-default" id="register" [disabled]="!form.valid" >Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
