<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2><span class="text-warning">Privilege</span> <span class="text-success">Punto raccolta comande</span></h2>
        <span class="pull-right text-muted">Today is {{now}}</span>
        <div class="text-muted">work in progress!!!!</div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Seleziona un tavolo</h2>
    <ng-select   [(ngModel)]="selectedtableId" [ngModelOptions]="{standalone: true}">
      <ng-option *ngFor=" let table of Table$ | async"  [value]="table.id"></ng-option>
    </ng-select>
  </div>
</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <div class="box" *ngFor="let categoria of categories  | async ">
          <div class="text-info">{{categoria.nome}}</div>
          <hr>
          <div *ngFor="let prodotti of Product | async" style="display: inline;margin-left: 3px">

          <button  *ngIf="prodotti.categoria === categoria.nome" class="buttons btn btn-primary" (click)=" addproduct(prodotti.id)">{{prodotti.nome}}</button>

        </div>
        </div>
        <br/>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Order Summary</h3>
          </div>
          <div class="panel-body" style="max-height:320px; overflow:auto;">
            <div class="text-warning" *ngIf=" !order.length">
              Noting ordered yet !
            </div>
            <ul class="list-group">
              <div class="text-center h3">Tavolo Selezionato {{selectedtableId}}</div>
              <li class="list-group-item" *ngFor=" let item of order ; let i = index   ">
                <div class="label label-success">${{ item?.prezzo  }}</div>
                {{item?.nome  }}

                <button class="btn btn-danger btn-xs pull-right" (click)=" deleteItem(i)">
                  <span class="fa fa-trash"></span>
                </button>
              </li>
            </ul>

          </div>
          <div class="panel-footer" *ngIf="order.length">
            <div class="label label-danger">Total: ${{getSum()}}</div>
          </div>
          <div class="panel-footer" *ngIf="order.length">
            <div class="text-muted">
              Do not let go of customer without taking payment !
            </div>
          </div>
          <div class="pull-right">
            <span class="btn btn-info" (click)="clearOrder()" *ngIf="order.length">Clear</span>
            <span class="btn btn-danger" (click)="checkout(order)" *ngIf="order.length">Checkout</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
