
<div class="row">
<div class="card" *ngFor="let table of $tables | async">
  <!-- content of the card goes here -->
  <div class="card-header">Tavolo N. {{table.numero}}</div>
  <div class="card-body" >{{table.coperti}}</div>
  <div  *ngIf="table.islibero" class="card-footer" >status <p>Libero</p></div>
  <div  *ngIf="!table.islibero" class="card-footer" >status <p>Occupato</p></div>
  <button class="btn btn-primary" *ngIf="!table.islibero" (click)="showorder(table.numero)">Mostra ordine</button>
  <button class="btn btn-info" *ngIf="table.islibero">Aggiungi Ordine</button>


</div>
</div>
<div class="row">
  <div class="card" *ngFor="let order of $orders | async">
    <div class="card-header" *ngFor="let ord of order.ordine">articolo: {{ord.nome}}  |  prezzo: {{ord.prezzo}}</div>

    <div class="card-footer"> modificato at:{{order.data_modifica |  date}}</div>

  </div>
</div>
