
<div class="row">
<div class="card" *ngFor="let table of $tables | async">
  <!-- content of the card goes here -->
  <div class="card-header">Tavolo N. {{table.numero}}</div>
  <div class="card-body" >coperti max :{{table.coperti}}</div>
  <div  *ngIf="table.islibero" class="card-footer" >status <p>Libero</p></div>
  <div  *ngIf="!table.islibero" class="card-footer" >status <p>Occupato</p></div>
  <button class="btn btn-primary" *ngIf="!table.islibero" (click)="showorder(table.numero) ">Mostra ordine</button>
  <button class="btn btn-info" *ngIf="table.islibero" [routerLink]="['../vendita']" [queryParams]="{ table: table.numero }">Aggiungi Ordine</button>
  <button *ngIf="stateB" class="btn btn-danger" (click)="completa(table.numero)">Paga</button>


</div>
</div>
<div  #ticket  class="row ">
  <div *ngFor="let order of $orders | async">
  <div  class="card " >


      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Qty</th>
          <th scope="col">Articolo</th>
          <th scope="col">Quantita</th>
          <th scope="col">Prezzo</th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let ord of order.ordine">
          <th scope="row">{{ord.quantity}}</th>
          <td>{{ord.nome}}</td>
          <th scope="row">{{ord.quantity}}</th>
          <td>{{ord.prezzo}}</td>
        </tr>

        </tbody>
      </table>
      <div class="card-footer"> Aggiunto at:{{order.data_modifica.seconds * 1000 | date:'full'}}
        <div class="align-center">
          <button class="btn btn-info" (click)="stampa()">Stampa</button>
        </div>
      </div>

    </div>

  </div>

  </div>

