<div class="row">
  <div class="col-xs-12" style="display: flex">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Aggiungi un tavolo</h5>
        <p class="card-text"><input name="nTavolo" [(ngModel)]="nTavolo" type="text" placeholder="n.tavolo"></p>
        <p class="card-text"><input name="nCoperti" [(ngModel)]="nCoperti" type="number" placeholder="n. Coperi massimi"></p>

        <button  class="btn btn-primary" (click)="addTable()">Aggiungi</button>
      </div>
    </div>
    <div *ngFor="let table of tables$ | async" class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">TAVOLO N  {{table.numero}}</h5>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="table.islibero" style="text-decoration-color: green">tavolo libero</h6>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="!table.islibero" style="text-decoration-color: red">tavolo Occupato</h6>

        <p class="card-text">COPERTI:{{table.coperti}}</p>
        <a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Cancella</a>
      </div>
    </div>
  </div>
</div>
