<div class="row">
  <div class="input-group">
    <input [(ngModel)]="rep" type="text" placeholder="nome reparto" >
    <input [(ngModel)]="host" type="text" placeholder="host stampante">
    <button class="btn btn-primary" (click)="addStampante()">Aggiungi stampante</button>
  </div>
</div>
<div class="row">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
        <tr >
          <th class="text-center">
            #
          </th>
          <th class="text-center">
            Reparto
          </th>
          <th class="text-center">
            Host
          </th>
          <th class="text-center">
            Mobile
          </th>
        </tr>
        </thead>
        <tbody>
        <tr id='addr0' *ngFor="let stm of (printerAvia  | async); let i = index ">
          <td>
            {{i+1}}
          </td>
          <td>
            {{stm.id}}
            <input type="text" name='name0'  placeholder='Name' class="form-control"/>
          </td>
          <td>
            {{stm.host}}
            <input type="text" name='mail0' placeholder='Mail' class="form-control"/>
          </td>
          <td>
            <input type="text" name='mobile0' placeholder='Mobile' class="form-control"/>
          </td>
        </tr>
        <tr id='addr1'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
</div>
